.main {
    margin-top: 3rem;
}

.container {
    width: 90%;
    margin: auto;
}

.title h1 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.form .item label {
    font-size: 14px;
    font-weight: 500;
}

button.btn {
    display: block;
    margin: 1.5rem auto;
    width: 35%;
    max-width: 372px;
}

.view {
    position: relative;
    margin: auto;
    width: 372px;
    --deviation: 0px;
}

.view.capture {
    --deviation: 0.51rem;
}

.view.vietcombank {
    .phone_time {
        position: absolute;
        top: calc(0.76rem - var(--deviation));
        left: 1.2rem;
        font-weight: 500;
        color: #FCFCFC;
        font-size: 10px;
        text-transform: uppercase;
    }

    .success {
        position: absolute;
        top: calc(14.5rem - var(--deviation));
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        text-wrap: nowrap;
        letter-spacing: 0.1px;
    }

    .amount {
        position: absolute;
        top: calc(16rem - var(--deviation));
        left: 50%;
        transform: translateX(-50%);
        color: #72BF00;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .bill_time {
        position: absolute;
        top: calc(18.7rem - var(--deviation));
        left: 50%;
        transform: translateX(-50%);
        color: #79878D;
        font-size: 11px;
        font-weight: 700;
    }

    .recipient {
        position: absolute;
        top: calc(23.5rem - var(--deviation));
        right: 1.2rem;
        transform: translateY(-50%);
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        max-width: 13rem;
        display: flex;
        align-items: center;
        text-align: end;
    }

    .account_number {
        position: absolute;
        top: calc(25.72rem - var(--deviation));
        right: 1.2rem;
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        max-width: 13rem;
        height: 3rem;
        display: flex;
        align-items: center;
        text-align: end;
    }

    .transaction_code {
        position: absolute;
        top: calc(36.85rem - var(--deviation));
        right: 1.2rem;
        transform: translateY(-50%);
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        max-width: 13rem;
        display: flex;
        align-items: center;
        text-align: end;
    }

    .transfer_note {
        position: absolute;
        top: calc(39.6rem - var(--deviation));
        right: 1.2rem;
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        max-width: 11rem;
        height: 3rem;
        display: flex;
        align-items: center;
        text-align: end;
    }
}

.view.momo {
    .transfer_note {
        position: absolute;
        top: calc(7.6rem - var(--deviation));
        left: 6rem;
        font-weight: 500;
        color: #79878D;
        font-size: 14px;
    }

    .amount {
        position: absolute;
        top: calc(9rem - var(--deviation));
        left: 6rem;
        color: #000;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .bill_time {
        position: absolute;
        top: calc(14.1rem - var(--deviation));
        right: 1.78rem;
        color: #000;
        font-weight: 600;
        font-size: 11px;
    }

    .transaction_code {
        position: absolute;
        top: calc(16.9rem - var(--deviation));
        right: 3rem;
        font-weight: 500;
        color: #000;
        font-size: 14px;
        max-width: 13rem;
    }

    .account_number_1 {
        position: absolute;
        top: calc(18.8rem - var(--deviation));
        right: 1.78rem;
        font-weight: 500;
        color: #000;
        font-size: 14px;
    }

    .recipient {
        position: absolute;
        top: calc(26.9rem - var(--deviation));
        right: 1.78rem;
        font-weight: 500;
        color: #000;
        font-size: 14px;
        display: flex;
    }

    .account_number_2 {
        position: absolute;
        top: calc(31.25rem - var(--deviation));
        right: 1.78rem;
        font-weight: 500;
        color: #000;
        font-size: 14px;
    }

    .success {
        position: absolute;
        top: calc(20.74rem - var(--deviation));
        right: 1.78rem;
        font-weight: 500;
        color: #000;
        font-size: 14px;
        text-transform: capitalize;
    }
}

.view.viettinbank {
    .phone_time {
        position: absolute;
        top: calc(1.16rem - var(--deviation));
        left: 1.7rem;
        font-weight: 500;
        color: #FCFCFC;
        font-size: 13px;
        text-transform: uppercase;
    }

    .bill_time {
        position: absolute;
        top: calc(9.1rem - var(--deviation));
        right: 1rem;
        color: #79878D;
        font-size: 11px;
        font-weight: 500;
    }

    .transaction_code {
        position: absolute;
        top: calc(10rem - var(--deviation));
        right: 1rem;
        font-weight: 500;
        color: #79878D;
        font-size: 12px;
    }

    .account_number_sender {
        position: absolute;
        top: calc(17.35rem - var(--deviation));
        right: 1rem;
        font-size: 13px;
        font-weight: 400;
    }

    .recipient_sender {
        position: absolute;
        top: calc(18.4rem - var(--deviation));
        right: 1rem;
        font-weight: 400;
        font-size: 13px;
    }

    .account_number {
        position: absolute;
        top: calc(20.4rem - var(--deviation));
        right: 1rem;
        font-weight: 600;
        font-size: 13px;
    }

    .recipient {
        position: absolute;
        top: calc(21.5rem - var(--deviation));
        right: 1rem;
        font-weight: 600;
        font-size: 13px;
    }

    .amount {
        position: absolute;
        top: calc(25.75rem - var(--deviation));
        right: 1rem;
        font-weight: bold;
        font-size: 12px;
        color: #045892;
        text-transform: uppercase;
    }

    .amount_text::first-letter {
        text-transform: uppercase;
    }

    .amount_text {
        position: absolute;
        top: calc(26.85rem - var(--deviation));
        right: 1rem;
        font-weight: 500;
        font-size: 12px;
        color: #045892;
    }

    .transfer_note {
        position: absolute;
        top: calc(31.1rem - var(--deviation));
        right: 1rem;
        font-weight: 400;
        font-size: 12px;
        max-width: 13rem;
        text-align: end;
    }
}

.view.vpbank {
    .phone_time {
        position: absolute;
        top: calc(1.15rem - var(--deviation));
        left: 1.7rem;
        font-weight: 500;
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
    }

    .amount {
        position: absolute;
        top: calc(11.3rem - var(--deviation));
        left: 4.7rem;
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.1px;
    }

    .recipient {
        position: absolute;
        top: calc(17.75rem - var(--deviation));
        left: 4.7rem;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
    }

    .account_number {
        position: absolute;
        top: calc(18.95rem - var(--deviation));
        left: 4.7rem;
        font-weight: 600;
        font-size: 14px;
        color: #79878D;
    }

    .bill_time {
        position: absolute;
        top: calc(23rem - var(--deviation));
        right: 1.7rem;
        font-weight: 600;
        font-size: 13px;
    }

    .transfer_note {
        position: absolute;
        top: calc(25.3rem - var(--deviation));
        right: 1.7rem;
        max-width: 20rem;
        font-weight: 600;
        height: 3rem;
        font-size: 13px;
        text-align: end;
        display: flex;
        align-items: center;
    }

    .transfer_type {
        position: absolute;
        top: calc(29.15rem - var(--deviation));
        right: 1.7rem;
        font-weight: 600;
        font-size: 13px;
    }

    .transfer_type::first-letter {
        text-transform: uppercase;
    }

    .transaction_code {
        position: absolute;
        top: calc(32.3rem - var(--deviation));
        right: 1.7rem;
        font-weight: 600;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .form {
        grid-template-columns: 1fr;
        margin: 0 0.5rem;

    }
}